<h1> Hotel-System</h1>
<form action='/posts' method='post'>
<label>Input </label><input value='<%= @default_v %>' type='text' id='query' name='query'/><input type='submit' id='but_search' value='Search'/>
</form>
