<h1> Hotel System</h1>
<form action='/hello' method='post'>
<label>Input:</label><input type='text' id='query' name='query'></><input type='submit' id='but_search' value='Search'/>
<br/>
<label>Out</label>
</form>
